@if (consentS.checkConsent("Disqus")) {
<div #disqusDiv id="disqus_thread"></div>
} @else {
<div class="consentBanner">
    <button (click)="giveConsent()">
        <fa-icon [icon]="faComment"></fa-icon>
        <span>{{ "load_comments" | translate }}</span>
    </button>
    <span class="disclaimer"
        >{{ "disqus_privacy_notice" | translate }} <a href="https://disqus.com/" target="_blank">Disqus</a>. {{ "for_more_details_see" | translate }}
        <a [routerLink]="['/' + languageS.userLanguage + '/privacy-policy/.']">{{ "privacy_policy" | translate }}</a
        >.</span
    >
</div>
}
