<main>
    <section id="firstSection" class="gradient">
        <app-header></app-header>
        <div class="sectionSpacer">
            <div class="sloganDiv">
                <h1>Web development passionate as a hobby</h1>
                <p>
                    I taught myself all skills out of interest.
                    It's not work if it's your hobby.
                </p>
                <div class="logoDiv">
                    <img src="assets/images/angularLogo.svg" alt="angular logo" width="80" height="80">
                    <img src="assets/images/nodeLogo.svg" alt="nodeJS logo" width="80" height="80">
                </div>
            </div>
            <div class="profilePicDiv">
                <div class="shadowDiv"></div>
                <img src="assets/images/profile.avif" alt="profile picture" class="profilePic" width="441" height="568">
            </div>
        </div>
    </section>
    <section id="projectsSection">
        <div class="sectionSpacer" *ngIf="projects.length > 0">
            <h2>My Projects</h2>
            <div class="filter">
                <ul class="activTechnologiesFilterOptions">
                    <li *ngFor="let technologie of activTechnologiesFilterOptions"><span>{{technologie}} <mat-icon (click)="removeTechnologieFromFilter(technologie)" fontIcon="cancel"></mat-icon>
                    </span></li>
                </ul>
                <div class="technologiesFilterOption">
                    <div>
                        <span *ngIf="technologiesFilterOptions.length > 0">Filter Options:</span>
                        <ul >
                            <li *ngFor="let technologie of technologiesFilterOptions"><button (click)="addTechnologieToFilter(technologie)">{{technologie}}</button></li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul>
                <li *ngFor="let project of projects">
                    <app-project-card 
                        name="{{project.name}}"
                        description="{{project.description}}" 
                        image="{{project.image}}"
                        linkWebsite="{{project.projectURL}}" 
                        linkGithub="{{project.githubURL}}" 
                        [features]="project.features"
                        [technologies]="project.technologies"
                        (clickOnTag)="clickOnTag($event)">
                    </app-project-card>
                </li>
            </ul>
        </div>
    </section>
</main>
<app-footer></app-footer>