:host {
  display: flex;
  flex-direction: column;
}

.sectionSpacer {
  padding: 0 5%;
}

#firstSection {
  box-sizing: border-box;
  align-items: center;
  padding-top: 2em;
  background: var(--gradient);

  @media only screen and (max-width: 1100px) {
    padding-top: var(--header-height);
  }

  app-header {
    width: 100%;
  }

  .sectionSpacer {
    padding-bottom: 2em;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    max-width: 65em;
  }

  .profilePicDiv:hover .shadowDiv {
    animation-duration: 600ms;
  }

  h1 {
    font-size: clamp(34px, 4vw, 60px);
    text-wrap: balance;
  }

  .sloganDiv {
    padding-right: 1em;
    grid-column: 1;
    grid-row: 1;
    text-wrap: balance;

    p {
      font-size: clamp(20px, 2vw, 24px);
    }
  }

  .profilePicDiv {
    width: auto;
    position: relative;
    height: auto;
    grid-column: 2;
    animation: grow 500ms ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profilePic {
    height: 40svh;
    width: auto;
    object-fit: cover;
    animation: wabeln 5s linear infinite;
    border: 6px solid var(--border-color);
  }

  .shadowDiv {
    box-shadow: #768fff 0 -1px 100px, rgb(54, 57, 219) 0 -2px 10px,
      #361da7 0 -10px 20px, rgb(32, 11, 88) 0 -18px 40px,
      5px 5px 15px 5px rgba(0, 0, 0, 0);
    position: absolute;
    height: 40svh;
    width: 100%;
    transform: scale(0.9);
    border-radius: 36% 64% 61% 39% / 53% 47% 53% 47%;
    animation: pulse 3s linear infinite;
  }

  // Angualar, NodeJS and WordPress Logo
  .logoDiv {
    display: flex;
    gap: 1em;

    svg {
      height: clamp(2.5em, 4vw, 4em);
      width: auto;
    }
  }

  @keyframes grow {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes wabeln {
    0%,
    100% {
      border-radius: 36% 64% 61% 39% / 53% 47% 53% 47%;
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }

    34% {
      transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
    }

    50% {
      border-radius: 48% 52% 70% 30% / 42% 56% 44% 58%;
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }

    67% {
      transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
    }
  }

  @keyframes pulse {
    0%,
    100% {
      transform: scale(0.9);
    }

    50% {
      transform: scale(0.85);
    }
  }

  @media only screen and (max-width: 800px) {
    height: auto;
    // background: radial-gradient(circle, rgba(26,25,46,1) 0%, rgba(49,49,150,1) 37%, rgba(26,25,46,1) 100%);

    .sectionSpacer {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
    }

    .sloganDiv {
      grid-row: 2;
    }

    .profilePicDiv {
      grid-column: 1;
      grid-row: 1;
      margin: 0 auto;
    }

    .profilePic,
    .shadowDiv {
      max-height: 15rem;
      height: 45svh;
    }
  }
}

// My Projects ###########################################################

#projectsSection {
  ul {
    list-style: none;
    padding: 0;
  }

  h2 {
    font-size: clamp(24px, 4vw, 36px);
  }

  .sectionSpacer {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
  }

  .filter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .projectCards {
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    app-project-card {
      flex-grow: 1;
      max-width: 65em;
      max-width: 100%;
    }
  }

  .technologiesFilterOption {
    display: flex;
    justify-content: flex-end;
    flex: 1 0 50%;
    min-width: 20em;

    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 0;
    }

    button {
      border: none;
      font-size: 1em;
      border-radius: 12px;
      padding: 8px;
      margin: 4px;
      background-color: rgb(43, 43, 43);
      color: rgb(238, 238, 238);
      cursor: pointer;
      user-select: none;
    }

    button:hover {
      background-color: gray;
    }
  }

  .activeTechnologiesFilterOptions {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 60%;

    li {
      border-radius: 12px;
      border-radius: 12px;
      padding: 8px;
      margin: 4px;
      background-color: rgb(43, 43, 43);
      display: flex;
      align-items: center;
      gap: 5px;

      .cancel-btn {
        padding: 0;
        color: var(--font-color);
        background: none;
        border: none;
        display: flex;
        align-items: center;

        &:hover {
          color: rgb(121, 121, 121);
          cursor: pointer;
        }
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
    }

    .navLink {
      background-color: #361da7;
      margin: 0.5em;
      padding: 0.8em 2em;
      border-radius: 4px;
    }

    ul {
      overflow-x: auto;
      display: flex;
      align-items: center;
      gap: 0.5em;
      height: 3em;

      a,
      span {
        padding: 0.8em 1.2em;
        background: black;
        border: solid 1px gray;
      }

      .current span {
        background-color: rgb(0, 0, 68);
      }

      a:hover {
        background-color: rgb(54, 54, 54);
      }

      .dots span {
        background-color: transparent;
      }
    }
  }

  ::-webkit-scrollbar {
    height: 1px;
  }

  .no-projects-found {
    text-align: center;
    margin: 4em 0;
  }

  .search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  input:-webkit-autofill {
    -webkit-text-fill-color: azure;
  }
  --background-input: rgb(36, 36, 41);
  .search {
    display: inline;
    color-scheme: dark;
    position: relative;

    input[type="text"] {
      padding: 0.5em;
      font-size: 1.3em;
      background-color: rgb(36, 36, 41);
      color: azure !important;
      border-radius: 20px;
      border: none;

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        box-shadow: inset 0 0 0 0 var(--background-input),
          inset 0 0 0 100px var(--background-input) !important;
        -webkit-text-fill-color: azure !important;
        background-clip: content-box !important;
      }
    }

    button {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: transparent;
      border: none;

      &:hover {
        color: rgb(121, 121, 121);
        cursor: pointer;
      }
    }
  }
}
