<app-header></app-header>
<main>
    <section id="firstSection">
        <div class="sectionSpacer">
            <div class="sloganDiv">
                <h1>Web development passionate as a hobby</h1>
                <p>
                    I taught myself all skills out of interest.
                    It's not work if it's your hobby.
                </p>
                <div class="logoDiv">
                    <img src="assets/images/angularLogo.svg" alt="angular logo" width="80" height="80">
                    <img src="assets/images/nodeLogo.svg" alt="nodeJS logo" width="80" height="80">
                </div>
            </div>
            <div class="profilePicDiv">
                <div class="shadowDiv"></div>
                <img src="assets/images/profile.jpg" alt="profile picture" class="profilePic" width="441" height="568">
            </div>
        </div>
    </section>
    <section id="projectsSection">
        <div class="sectionSpacer">
            <h2>My Projects</h2>
            <app-project-card image="assets\images\grundbuch-musterantrag.de.PNG"
            linkWebsite="https://www.grundbuch-musterantrag.de" 
            linkGithub="https://github.com/KopfdesDaemons/grundbuch-musterantrag.de">
                <h3>grundbuch-musterantrag.de</h3>
                <p>A website about German land register law</p>
                <ul>
                    <li>darkmode / lightmode</li>
                    <li>custom primary theme color</li>
                    <li>admin login / dashboard</li>
                    <li>pdf generation</li>
                    <li>step by step formular</li>
                </ul>
            </app-project-card>
            <app-project-card image="assets\images\tickturtle.com.PNG"
            linkWebsite="https://tickturtle.com"
            linkGithub="https://github.com/KopfdesDaemons/tickturtle.com">
                <h3>tickturtle.com</h3>
                <p>A website for time recording of work steps</p>
                <ul>
                    <li>time calculation / time pause / time resume</li>
                    <li>edit tasks / delete tasks</li>
                    <li>storage of data in local storage</li>
                    <li>own design of a table with several features</li>
                </ul>
            </app-project-card>
        </div>
    </section>
</main>