<footer>
    <div class="linkGroup">
        <h2>{{'my_links' | translate}}</h2>
        <ul>
            <li><fa-icon [icon]="faInstagram"></fa-icon><a target="_blank"
                    href="https://www.instagram.com/KopfdesDaemons/">Instagram</a></li>
            <li><fa-icon [icon]="faGithub"></fa-icon><a target="_blank"
                    href="https://github.com/KopfdesDaemons">GitHub</a></li>
        </ul>
    </div>
    <div class="linkGroup">
        <h2>Page</h2>
        <ul>
            <li><a routerLink="/legal-notice">{{'legal_notice' | translate}}</a></li>
            <li><a routerLink="{{languageS.userLanguage + '/privacy-policy'}}">{{'privacy_policy' | translate}}</a></li>
        </ul>
    </div>
</footer>