.card {
  background-color: rgb(41, 43, 70);
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  max-width: 60em;
  box-shadow: 1px 1px 10px 1px #010147;
  animation: moveIn 500ms forwards ease-out;
  border: 1px solid;
  padding: clamp(1em, 2vw, 2em);
  gap: 1em;

  @keyframes moveIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  .imageContainer {
    position: relative;
    flex: 1 0 50%;
    height: auto;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    img {
      width: 100%;
      height: auto;
      aspect-ratio: 16/9;
      object-fit: contain;
      border-radius: 12px;
      filter: brightness(0.95);

      &:hover {
        filter: brightness(0.9);
      }
    }
  }

  .content {
    flex: 1 0 45%;
    min-width: min(19em, 100%);
    box-sizing: border-box;
    text-wrap: pretty;

    a:hover,
    a:visited:hover {
      color: #373796;
      transition: all 200ms;
    }

    a:visited {
      color: var(--font-color);
    }

    .titleLink,
    .titleLink:visited {
      color: rgb(97, 97, 255);
      text-decoration: none;

      h2 {
        font-size: clamp(24px, 3vw, 28px);
        margin: 0 0 0.2em 0;
        width: 100%;
      }
    }

    .date {
      font-size: 0.8em;
    }

    p {
      line-height: 1.3em;
    }

    .keywords {
      padding: 0;
      display: inline-flex;
      flex-wrap: wrap;
      gap: 0.4em;
      font-size: 0.7em;
      margin-top: auto;

      li {
        list-style: none;
        background-color: rgb(133, 162, 172);
        border-radius: 8px;
        color: rgb(0, 0, 0);
        padding: 0.7em;
      }
    }

    .readMore {
      float: right;
      margin-top: 1em;
    }
  }
}
