<div class="card">
    <a class="imageContainer" *ngIf="postMeta?.image"
        [routerLink]="['/' + languageS.userLanguage + '/blogpost/' + postMeta?.fileName]">
        <img src="{{postMeta?.image}}" alt="{{postMeta?.title}}">
    </a>
    <div class="content">
        <a [routerLink]="['/' + languageS.userLanguage + '/blogpost/' + postMeta?.fileName]">
            <h2>{{postMeta?.title}}</h2>
        </a>
        <p>{{postMeta?.description}}</p>
        <a [routerLink]="['/' + languageS.userLanguage + '/blogpost/' + postMeta?.fileName]">{{'read_more' |
            translate}}</a>
    </div>
</div>