.card {
    background-color: rgb(37, 38, 53);
    // padding: 1em;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    max-width: 60em;

    .imageContainer {
        position: relative;
        flex: 1 0 50%;
        height: auto;

        img {
            width: 100%;
            height: auto;
            aspect-ratio: 16/9;
            object-fit: contain;
            background-color: black;
            border-radius: 12px;
            border: 1px solid;

            &:hover {
                filter: brightness(0.9);
            }
        }
    }

    .content {
        flex: 1 0 50%;
        padding: 1.5em 2em;
        min-width: 15em;
        box-sizing: border-box;
        text-wrap: balance;

        a {
            color: rgb(46, 46, 180);
            text-decoration: none;

            &:hover {
                color: rgb(31, 31, 104);
            }
        }

        h2 {
            font-size: clamp(24px, 3vw, 28px);
            margin-top: 0;
        }
    }
}