.websiteName {
  :nth-child(2) {
    background: -webkit-linear-gradient(#eee, #2525d9);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

header {
  font-size: clamp(14px, 5vw, 24px);
  box-sizing: border-box;
  display: flex;
  vertical-align: middle;
  height: var(--header-height);
  position: absolute;
  z-index: 2;

  &.menuIsOpen {
    position: fixed;
  }

  // Fixiertes Menü nur wenn Menü offen
  @media only screen and (min-width: 1100px) {
    // Menü offen
    position: fixed;

    // Menü zu (invertierte Klasse)
    &.menuIsOpen {
      position: absolute;
    }
  }

  // Fixiertes Menü wenn genug Breite
  @media only screen and (min-width: 1900px) {
    &.menuIsOpen {
      position: fixed;
    }
  }

  a {
    text-decoration: none;
  }

  .websiteName {
    display: flex;
    align-items: center;
  }

  .toggle_sidemenu_button {
    all: unset;
    color: var(--font-color);
    cursor: pointer;
    transition: all 100ms;
    width: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      transform: scale(1.3);
    }

    &:focus-visible {
      outline: 1px solid;
    }
  }
}
