<div id="languageSwitchOffer" [ngClass]="{'open' : langS.askUserToSwitch && !closed}">
    <button class="closeButton" (click)="closed = true">&#10005;</button>
    <p>
        Do you want to change the language to
        {{langS.getLanguageFromUserAgent() == 'de' ? 'german' :'english'}}?</p>
    <div class="buttons">
        <button (click)="langS.switchUserLanguage(langS.getLanguageFromUserAgent())">Yes</button>
        <button (click)="langS.askUserToSwitch = false">No</button>
    </div>
</div>