<div class="closingDiv" [ngClass]="{'sidemenuOpen': sidemenuS.MenuIsOpen}" (click)="sidemenuS.toggleMenu()"></div>
<aside #sidemenu [ngClass]="{'sidemenuOpen': sidemenuS.MenuIsOpen}">
    <div class="sidemenuContent">
        <nav>
            <ul>
                <a [routerLink]="['/']">
                    <fa-icon [icon]="faHome"></fa-icon>
                    <span>Home</span>
                </a>
                <a href="https://github.com/KopfdesDaemons" target="_blank">
                    <fa-icon [icon]="faGithub"></fa-icon>
                    <span>Github</span>
                </a>
                <hr>
                <a [routerLink]="['/']" fragment="projectsSection">
                    <span>Portfolio</span>
                </a>
                <a [routerLink]="['/my-basic-CSS-gallery']">
                    <span>CSS gallery</span>
                </a>
                <a [routerLink]="['/blogpost/Linux-Test']">
                    <span>Linux Mint tested as a desktop</span>
                </a>
            </ul>
        </nav>
    </div>
</aside>
