<div class="closingDiv" [ngClass]="{'sidemenuOpen': sidemenuS.MenuIsOpen}" (click)="sidemenuS.toggleMenu()"></div>
<aside #sidemenu [ngClass]="{'sidemenuOpen': sidemenuS.MenuIsOpen}">
    <div class="sidemenuContent">
        <nav>
            <ul>
                <li>
                    <a [routerLink]="['/']">
                        <fa-icon [icon]="faHome"></fa-icon>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/KopfdesDaemons" target="_blank">
                        <fa-icon [icon]="faGithub"></fa-icon>
                        <span>GitHub</span>
                    </a>
                </li>
                <li>
                    <hr>
                    <a [routerLink]="['/']" fragment="projectsSection">
                        <span>Portfolio</span>
                    </a>
                    <hr>
                </li>
                <li>
                    <a [routerLink]="[languageS.userLanguage + '/blogpost/css-gallery']">
                        <span>{{'css_gallery_title' | translate}}</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="[languageS.userLanguage + '/blogpost/linux-test']">
                        <span>{{'linux_test_title' | translate}}</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="[languageS.userLanguage + '/blogpost/codepen-in-angular']">
                        <span>{{'codepen_title' | translate}}</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="[languageS.userLanguage + '/blogpost/about-this-website']">
                        <span>{{'about_this_website_title' | translate}}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>