<main>
    <section>
        <h1>{{'blog_h1' | translate}}</h1>
        <div class="options">
            <select (change)="sort($event)">
                <option value="date desc">{{'date_desc' | translate}}</option>
                <option value="date asc">{{'date_asc' | translate}}</option>
                <option value="title asc">{{'title_asc' | translate}}</option>
                <option value="title desc">{{'title_desc' | translate}}</option>
            </select>
        </div>
        <ul class="feed">
            <li *ngFor="let post of postsList">
                <app-blogpost-card [postMeta]="post.postMeta"></app-blogpost-card>
            </li>
        </ul>
        <ul class="pagination" *ngIf="totalPages > 1">
            <li *ngFor="let page of [].constructor(totalPages); let i = index">
                <a *ngIf="currentPage != i +1"
                    [routerLink]="['/' + languageS.userLanguage + '/blog/page/' + (i + 1)]">{{i + 1}}</a>
                <span *ngIf="currentPage === i + 1">{{i + 1}}</span>
            </li>
        </ul>
    </section>
</main>