:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main {
  margin-bottom: auto;
  padding: 3em 0 5em 0;
  background: var(--gradient);
}

section {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 0 6vw;
  max-width: 80em;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

h1 {
  font-size: clamp(34px, 4vw, 60px);
}

.options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;

  --background-input: rgb(36, 36, 41);
  .search {
    display: inline;
    position: relative;

    input[type="text"] {
      padding: 0.5em;
      font-size: 1.3em;
      border-radius: 20px;
      border: none;
    }

    button {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: transparent;
      border: none;

      &:hover {
        color: rgb(121, 121, 121);
        cursor: pointer;
      }
    }
  }

  select {
    padding: 0.5em;
    border: 2px solid lightgrey;
    border-radius: 0.5rem;
    color: black;
    background-color: white;
    min-width: 5em;
  }
}

.feed {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 0;
  flex: 1;

  li {
    list-style: none;
  }
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  padding: 0;
  font-size: 1.3em;

  li {
    list-style: none;

    a,
    span {
      padding: 0.5em;
    }
  }
}
