<main>
    <section>
        <h1>{{ "blog_h1" | translate }}</h1>
        <div class="options">
            <select (change)="sort($event)">
                <option value="date desc">{{ "date_desc" | translate }}</option>
                <option value="date asc">{{ "date_asc" | translate }}</option>
                <option value="title asc">{{ "title_asc" | translate }}</option>
                <option value="title desc">{{ "title_desc" | translate }}</option>
            </select>
        </div>
        <ul class="feed">
            @for (post of postsList; track post.postMeta.title) {
            <li>
                @defer (hydrate never) {
                <app-blogpost-card [postMeta]="post.postMeta"></app-blogpost-card>
                }
            </li>
            }
        </ul>
        @if (totalPages > 1) {
        <ul class="pagination">
            @for (page of [].constructor(totalPages); track $index; let i = $index) {
            <li>
                @if (currentPage != i + 1) {
                <a [routerLink]="['/' + languageS.userLanguage + '/blog/page/' + (i + 1)] + '/.'">{{ i + 1 }}</a>
                } @if (currentPage === i + 1) {
                <span>{{ i + 1 }}</span>
                }
            </li>
            }
        </ul>
        }
    </section>
</main>
