:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main {
  margin-bottom: auto;
  padding: 3em 0 5em 0;
  background: var(--gradient);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 6vw;
  max-width: 80em;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

h1 {
  font-size: clamp(34px, 4vw, 60px);
}

.options {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  select {
    padding: 0.5em;
    border: 2px solid lightgrey;
    border-radius: 0.5rem;
    color: black;
    background-color: white;
    min-width: 5em;
  }
}

.feed {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 0;

  li {
    list-style: none;
  }
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  padding: 0;
  font-size: 1.3em;

  li {
    list-style: none;

    a,
    span {
      padding: 0.5em;
    }
  }
}
