.blogpostMain {
  padding-bottom: 3em;
}
.blogpostMain .hero {
  display: flex;
  justify-content: center;
  padding: 1em 4%;
  text-align: center;
  overflow: hidden;
}
.blogpostMain .hero img {
  max-width: 100%;
  height: auto;
  animation: grow 500ms ease-out;
  aspect-ratio: 16/9;
  -o-object-fit: contain;
     object-fit: contain;
}
@media only screen and (max-width: 1100px) {
  .blogpostMain .hero {
    padding-top: var(--header-height);
  }
}
.blogpostMain .hero time {
  float: right;
  font-style: italic;
  font-size: 0.8em;
}
.blogpostMain .hero .description {
  max-width: 80%;
  margin: 0 auto;
  font-size: 1.3em;
}
@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.blogpostMain .sectionSpacer {
  max-width: 60em;
  flex: 1;
  width: 100%;
  box-sizing: border-box;
}
@media only screen and (max-width: 800px) {
  .blogpostMain .sectionSpacer {
    padding: 0;
  }
}
.blogpostMain section {
  flex-direction: unset;
  justify-content: center;
}
.blogpostMain .postContent {
  margin-top: 2em;
  min-height: 40em;
  line-height: 1.5em;
  margin-bottom: 4em;
  background-color: rgba(50, 56, 75, 0.4588235294);
  padding: clamp(1em, 2vw, 2em);
  border-radius: 12px;
  overflow: auto;
  width: 100%;
  box-sizing: border-box;
}
@media only screen and (max-width: 800px) {
  .blogpostMain .postContent ul,
  .blogpostMain .postContent ol {
    padding-left: 1em;
  }
}
.blogpostMain .postContent > * {
  margin-top: 0;
}
.blogpostMain .postContent ul {
  padding-left: 1.5em;
}
.blogpostMain .postContent h2,
.blogpostMain .postContent h3,
.blogpostMain .postContent a {
  color: #8888ff;
}
.blogpostMain .postContent h1,
.blogpostMain .postContent h2,
.blogpostMain .postContent h3,
.blogpostMain .postContent h4 {
  line-height: 1.4em;
}
.blogpostMain .postContent img {
  max-width: 100%;
  border-radius: 12px;
}
.blogpostMain .postContent img:hover {
  filter: brightness(0.8);
}
.blogpostMain .postContent p > code {
  background-color: rgb(21, 39, 90);
  padding: 0.4em;
  border-radius: 4px;
}
.blogpostMain .postContent pre {
  background-color: black;
  padding: 1em;
  border-radius: 12px;
  max-width: 100%;
  overflow-x: auto;
  font-size: 0.8em;
  margin-bottom: 1em;
}
.blogpostMain .postContent pre + .toolbar {
  opacity: unset;
}
.blogpostMain .postContent pre + .toolbar button {
  padding: 0.5em;
  font-size: 1.1em;
  cursor: pointer;
}
.blogpostMain .postContent pre + .toolbar button:hover {
  background-color: gray;
}
.blogpostMain .postContent .linkButton {
  font-size: 1.4em;
  padding: 0.7em;
  background-color: #1f1d57;
  border-radius: 24px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(168, 168, 252);
  transition: all 250ms;
  display: inline-block;
}
.blogpostMain .postContent .linkButton:hover {
  background-color: #2d2b5f;
}
.blogpostMain #disqus_thread {
  min-height: 500px;
}
.blogpostMain .codepen:has(.codePenConsentButton) {
  flex-direction: column;
}
.blogpostMain .codePenConsentButton {
  padding: 1em;
  background-color: rgb(193, 192, 255);
  border-radius: 4px;
  border: 3px solid transparent;
  cursor: pointer;
  display: flex;
  gap: 0.5em;
  font-size: 1.2em;
  transition: all 250ms;
  margin: 0 auto;
}
.blogpostMain .codePenConsentButton:hover {
  color: var(--font-color);
  border-color: rgb(193, 192, 255);
  background-color: transparent;
}
.blogpostMain .codePenConsentButton + p {
  font-size: 0.8em;
  text-wrap: balance;
  text-align: center;
}/*# sourceMappingURL=blog-post.component.css.map */