<main class="blogpostMain">
  <div class="hero gradient">
    <div class="sectionSpacer">
      <img *ngIf="post?.postMeta?.image" height="495" width="880" [src]="post?.postMeta?.image" alt="{{ post?.postMeta?.title }}" />
      <h1>{{ post?.postMeta?.title }}</h1>
      <div class="description">
        <p>{{ post?.postMeta?.description }}</p>
      </div>
      <time>{{ post?.postMeta?.date }}</time>
    </div>
  </div>
  <section>
    <div class="sectionSpacer">
      <div *ngIf="post?.postContent" class="postContent" [innerHTML]="post?.postContent ?? '' | safeHtml"></div>
      <app-disqus *ngIf="post" [title]="post.postMeta?.title"></app-disqus>
    </div>
  </section>
</main>
