<main>
    <header>
        <div class="sectionSpacer">
            @if (post()?.postMeta?.image) {
            <img height="495" width="880" [src]="post()?.postMeta?.image" alt="{{ post()?.postMeta?.title }}" />
            }
            <h1>{{ post()?.postMeta?.title }}</h1>
            <div class="description">
                <p>{{ post()?.postMeta?.description }}</p>
            </div>
            <time>{{ post()?.postMeta?.localDateString }}</time>

            @if (postNotFound) {
            <h1>404</h1>
            <p>{{ "blogpost_not_found" | translate }}</p>
            <p>{{ "blogpost_not_found_text" | translate }}</p>
            }
        </div>
    </header>
    <section>
        <div class="sectionSpacer">
            @if (post()?.postContent) {
            <article #postContent [innerHTML]="post()?.postContent ?? '' | safeHtml"></article>
            } @if (post() && !post()?.postMeta?.commentsDisabled) { @defer (on viewport) {
            <app-disqus [identifier]="post()?.postMeta?.fileName"></app-disqus>
            }@placeholder {
            <p>{{ "loading_comments" | translate }}</p>
            } }
        </div>
    </section>
</main>
