main {
    min-height: 100vh;
    padding-bottom: 8em;
    font-size: 1.2em;
}

h1 {
    font-size: clamp(34px, 4vw, 60px);
    text-wrap: balance;
}

.hero {
    display: flex;
    justify-content: center;
    padding: 3em 0 1em 0;

    time {
        float: right;
    }

    div {
        color: var(--font-color);
        text-wrap: balance;
    }
}

.sectionSpacer {
    max-width: 50em;
}

.content {
    margin-top: 2em;
}