<main>
    <section id="firstSection" class="gradient">
        <div class="sectionSpacer">
            <h1>My basic CSS gallery</h1>
            <span>My design is 🌟inspired🌟 by Google's Material Design</span>
            <p>It's minimalist, clean and not overloaded.</p>
        </div>
    </section>
    <section id="buttonSection">
        <div class="sectionSpacer">
            <h2>Buttons</h2>
            <div class="demo">
                <p class="codepen" data-height="300" data-theme-id="dark" data-default-tab="result" data-slug-hash="NWOQYqz" data-editable="true" data-user="Rico-the-bold" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                    <span>See the Pen <a href="https://codepen.io/Rico-the-bold/pen/NWOQYqz">
                    Material Buttons</a> by Rico (<a href="https://codepen.io/Rico-the-bold">@Rico-the-bold</a>)
                    on <a href="https://codepen.io">CodePen</a>.</span>
                  </p>
            </div>
            <h2>Icons</h2>
            <div class="demo">
                <p class="codepen" data-height="300" data-theme-id="dark" data-default-tab="result" data-slug-hash="poxMBOR" data-editable="true" data-user="Rico-the-bold" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                    <span>See the Pen <a href="https://codepen.io/Rico-the-bold/pen/poxMBOR">
                    Material Icons</a> by Rico (<a href="https://codepen.io/Rico-the-bold">@Rico-the-bold</a>)
                    on <a href="https://codepen.io">CodePen</a>.</span>
                  </p>
            </div>
            <h2>Inputs</h2>
            <div class="demo">
                <p class="codepen" data-height="300" data-theme-id="dark" data-default-tab="result" data-slug-hash="poxMBLE" data-editable="true" data-user="Rico-the-bold" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                    <span>See the Pen <a href="https://codepen.io/Rico-the-bold/pen/poxMBLE">
                    Material Inputs</a> by Rico (<a href="https://codepen.io/Rico-the-bold">@Rico-the-bold</a>)
                    on <a href="https://codepen.io">CodePen</a>.</span>
                  </p>
            </div>
            <h2>Table</h2>
            <div class="demo">
                <p class="codepen" data-height="300" data-theme-id="dark" data-default-tab="result" data-slug-hash="GRYVapg" data-editable="true" data-user="Rico-the-bold" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                    <span>See the Pen <a href="https://codepen.io/Rico-the-bold/pen/GRYVapg">
                    Material Table</a> by Rico (<a href="https://codepen.io/Rico-the-bold">@Rico-the-bold</a>)
                    on <a href="https://codepen.io">CodePen</a>.</span>
                  </p>
            </div>
        </div>
    </section>
</main>
