<div class="projectDiv">
    <div class="imageDiv">
        <div class="hoverDiv">
            <div class="linksDiv">
                <a href="{{linkWebsite}}" target="_blank">open website</a>
                <a href="{{linkGithub}}" target="_blank">open github</a>
            </div>
        </div>
        <img src="{{image}}" width="436" height="326">
    </div>
    <div class="descriptionDiv">
        <h3>{{name}}</h3>
        <p>{{description}}</p>
        <ul>
            <li *ngFor="let f of features">{{f}}</li>
        </ul>
    </div>
</div>