<div class="projectDiv">
    <a href="{{linkWebsite}}" target="_blank" class="imageDiv">
        <img src="{{image}}" width="436" height="326">
    </a>
    <div class="descriptionDiv">
        <a href="{{linkWebsite}}" target="_blank">
            <h3>{{name}}</h3>
        </a>
        <p>{{description}}</p>
        <ul>
            <li *ngFor="let f of features">{{f}}</li>
        </ul>
        <div class="links">
            <a href="{{linkWebsite}}" target="_blank"><fa-icon [icon]="faUpRightFromSquare"></fa-icon><span>visit project</span></a>
            <a href="{{linkGithub}}" target="_blank"><fa-icon [icon]="faGithub"></fa-icon><span>github</span></a>
        </div>
    </div>
</div>