.projectDiv {
    background-color: black;
    border-radius: 12px;
    border: 2px solid var(--border-color);
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2em;
    font-size: clamp(14px, 1vw, 18px);
    align-items: center;

    a {
        text-decoration: none;
    }

    .imageDiv {
        position: relative;
        flex: 1 0 50%;
        height: auto;
        order: 1;
        
        img {
            width: 100%;
            height: auto;
            max-height: 20em;
            object-fit: contain;
        }
    }

    .descriptionDiv{
        flex: 1 0 50%;
        min-width: 20em;
        max-width: 100%;
        order: 2;
        padding: 0 2%;
        box-sizing: border-box;
        margin: 0.5em 0;

        h3 {
            font-size: 24px;
            color: rgb(25, 25, 145);
            margin-top: 0;
        }

        .links {
            display: flex;
            justify-content: space-evenly;
            margin-top: 1em;
            a {
                border: 1px solid;
                padding: 1em;
                border-radius: 4px;

                fa-icon {
                    margin-right: 0.5em;
                }
            }

            a:hover {
                color: #5857FF;
            }
        }
    }

    ul {
        padding-left: 2em;
        li {
            margin-top: 0.5em;
        }
    }
}

.projectDiv:hover {
    transition: all 200ms;
    box-shadow: 0px 0px 40px 5px #5857FF;
    
    .descriptionDiv {
        h3 {
            color: blue;
        }
    }
}
